@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: var(--font-primary);
  background-color: var(--primary-grey-200);
}

:root {
  /* colors */
  --primary: #9bcb4e;
  --primary-1: #d7f4a9;
  --primary-2: #c1ec7c;
  --primary-3: #80b42b;
  --primary-4: #5e8d13;

  --primary-grey: #c0c0c0;
  --primary-grey-100: #cdcdcd;
  --primary-grey-200: #dadada;
  --primary-grey-300: #b4b4b4;
  --primary-grey-400: #a7a7a7;

  /* fonts */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* utilities */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-36: 2.255rem;
  --fs-48: 3rem;
  --fs-50: 3.125rem;
  --fs-64: 4rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* fluid typography */
h1 {
  font-size: 3.5rem;
  font-size: clamp(3.5rem, 3.4rem + 0.5vw, 4rem);
}
h2 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem);
}
p {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
}

h6 {
  font-family: "Montserrat";
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#app {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  background-color: #f1ead9;
}
.main {
  flex: 1;
  display: flex;
}
.sidebar-logo {
  padding-left: 40px;
}
.sidebar-nav {
  flex: 1;
  margin-top: 80px;
  margin-bottom: 80px;
}
.nav-links {
  height: 100%;
}
.nav-links .nav-item {
  padding: 20px 40px;

  margin: 15px 0px;
}
.nav-links .nav-item.active {
  background-color: var(--primary-2);
  border-left: 5px solid var(--primary-4);
}
.sidebar-image {
  padding: 0px 40px;
}
.fitness-calculator {
  flex-basis: auto;
}
.fitness-results {
  flex-basis: auto;
  padding: 20px 40px;
}
.fitness-heading {
  text-align: center;
}
.fitness-form {
  border-radius: 8px;

  background-color: #ffffff;
}
.form-body {
  padding: 20px 40px;
}

input {
  background-color: var(--primary-grey-200);
  padding: 10px;
  border: none;
}
button {
  background-color: var(--primary-4);
  border: none;
  padding: 20px 0px;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
